.refferal-base {
    margin: auto;
    padding-right: 10%;
    padding-left: 10%;
    padding-bottom: 5%;
}

.refferal-form {
    display: flexbox;
    position: relative;
    margin-right: 10%;
    margin-left: 10%;
}

.refferal-center {
    margin: auto;
    text-align: center;
}